.restaurant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.header {
    background-color: white;
    min-width: 600px;
    display: flex;
    padding: 1.5rem 2rem 1rem 2rem;
    color: #797575;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
}

.header-content-1 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 2.3rem;
}

.icon {
    font-size: 2.5rem;
}

.state {
    margin-top: 1rem;
    font-size: 2.3rem;
}

.header-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F1908C;
}

.header-content-2 > span {
    font-size: 2.3rem;
    font-weight: 500;
}

.content {
    background-color: whitesmoke;
    min-width: 575px;
    margin-top: -3px;
    box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);
    transition: all 0.2s;
}

.list  {
    display: flex;
    padding: 1rem;
    margin: 1rem 2rem;
}

.list-name {
    font-size: 1.4rem;
    margin-right: auto;
    color: #9b8787;
}

.list-review {
    color: #ebcb1c;
}

.list-review > span {
    font-size: 1.5rem;
}

.action {
    margin: 6px;
    display: flex;
    justify-content: center;
}

.action > button {
    color: #797575;
}